.tarjeta-wrapper {
    border: solid black 1px;
    border-radius: 30px;
    margin: 15px;
    padding: 10px;
    width: 280px;
    background-color: #F4DEF8;
}

.tarjeta-wrapper button {
    font-size: 1em;
    border: solid black 1px;
    padding: 10;
    background: none;
    cursor: pointer;
    margin: 10px 0;
}